uvicorn
videosdk>=0.2.5
numpy
httpx
aiohttp
openai
av>=14.0.0,<15.0.0
dotenv
pyee>=13.0.0
grpcio
protobuf
docstring_parser
google-genai
rx>=3.2.0
smithy-aws-core
pytz
aws_sdk_bedrock_runtime
click>=8.0.0
mcp
