# VideoSDK AI Agents Core
videosdk-agents>=0.0.38

# Real-time API and LLM-based TTS/STT Providers
videosdk-plugins-openai>=0.0.38
videosdk-plugins-google>=0.0.38
videosdk-plugins-aws>=0.0.38
videosdk-plugins-sarvamai>=0.0.38


# Speech-to-Text (STT) Plugins
videosdk-plugins-deepgram>=0.0.38


# Voice Activity Detection (VAD) and Turn Detection Plugins
videosdk-plugins-silero>=0.0.38
videosdk-plugins-turn-detector>=0.0.38

# Text-to-Speech (TTS) Plugins
videosdk-plugins-elevenlabs>=0.0.38

# LLM Plugins
videosdk-plugins-anthropic>=0.0.38

# Virtual Avatar Plugins
videosdk-plugins-simli>=0.0.38

# Core Dependencies
fastmcp
aiohttp
python-dotenv>=1.1.1
requests>=2.31.0
mem0ai==0.1.116